
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

/* Navbar */

nav{
    position:fixed;
    top:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 30px;
    background:transparent;
    transition:0.4s;
    z-index:1000;
}

/* Scroll Effect */

nav.scrolled{
    background:black;
}

/* Logo */

.logo{
    color:white;
    font-size:26px;
    font-weight:bold;
}

/* Navigation Links */

.nav-links{
    display:flex;
    list-style:none;
    gap:20px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-size:18px;
    transition:0.3s;
}

.nav-links a:hover{
    color:yellow;
}

/* Hero Section */

.hero{
    height:100vh;
    background:linear-gradient(to right,#4facfe,#00f2fe);

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;
    color:white;
    padding:20px;
}

.hero h1{
    font-size:55px;
}

.hero p{
    margin:20px 0;
    font-size:22px;
}

.hero button{
    padding:12px 25px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

/* Content Sections */

.content{
    min-height:100vh;
    padding:120px 40px;
    background:#f4f4f4;
    border-bottom:2px solid #ddd;
}

.content h2{
    font-size:40px;
    margin-bottom:20px;
}

.content p{
    font-size:22px;
}

/* MOBILE RESPONSIVE */

@media(max-width:768px){

    nav{
        flex-direction:column;
        padding:15px;
    }

    .nav-links{
        flex-direction:column;
        align-items:center;
        gap:10px;
        margin-top:10px;
    }

    .hero h1{
        font-size:35px;
    }

    .hero p{
        font-size:18px;
    }

    .content{
        padding:100px 20px;
    }

    .content h2{
        font-size:30px;
    }

    .content p{
        font-size:18px;
    }
}
